<!DOCTYPE html>
<html>
<head>
    <title>Node/Express App</title>
</head>
<body>

<h1>Welcome, {{ name }} is the {{ pageTitle }}</h1>
<h2>You like {{ likes }}</h2>
<footer>
    Copyright, {{ currentYear }}
</footer>
</body>
</html>